#explore{
	background: url("../images/features/explore.jpg");
	height: 100vh;
	background-size: cover;
	background-position: 50% 50%;
	color: $light-font-color;

	.explore-container {
		position: relative;
		height: 100vh;

		.explore-content{
			position: absolute;
			bottom: 2em;

			h2{
				font-size: 4vw;
			}

			p{
				margin: 1em 0;
			}
		}

	}
	a {
		color: $light-font-color ;
	}
	i{
		margin-left: 1em;
	}
}